# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo

# Dependency directories
jspm_packages/
web_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# ESLint & Stylelint cache
.eslintcache
.stylelintcache

# Parcel, Next.js, Nuxt.js, Gatsby, VuePress, VitePress, Docusaurus
.cache
.parcel-cache
.next
out
.nuxt
dist
.vuepress/dist
.temp
.vitepress/cache
.docusaurus

# Serverless, FuseBox, DynamoDB
.serverless/
.fusebox/
.dynamodb/

# VSCode testing and Yarn v2
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*