<div class="user-list-container">
  <h2>User List</h2>

  <input
    type="text"
    placeholder="Search users..."
    (input)="searchDataUsers($event)"
  />

  <p *ngIf="loading" class="loading">Loading data...</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <!-- <ng-container *ngIf="users$ | async as users"> Show all user - without search -->
  <ng-container *ngIf="filteredUsers$ | async as users">
    <table *ngIf="users.length > 0; else noData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.website }}</td>
          <td>
            <button (click)="detailDataUser(user.id)" class="btn-detail">
              View Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noData>
    <p *ngIf="!loading && !errorMessage" class="error">
      No user data available.
    </p>
  </ng-template>
</div>
